<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% include partials/head %>
</head>
<body>
    <header>
        <%= include partial/header %>
    </header>

    <main>
        <div class="container">
            <h2>Hello, <%= user.displayName %> </h2>
            <p><%- user.id %></p>
            <p><%- JSON.stringfy(user) %></p>
        </div>
    </main>

    <footer>
        <%= include partials/footer %>
    </footer>
</body>
</html>